<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
      <string>com.expo.modules.backgroundtask.processing</string>
    </array>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleAllowMixedLocalizations</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Athli</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>default</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>default-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>black</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>black-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>blue</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>blue-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>green</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>green-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>orange</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>orange-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>pink</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>pink-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>purple</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>purple-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>red</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>red-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>yellow</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>yellow-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient-1</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-1-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient-2</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-2-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient-3</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-3-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient-4</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-4-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient-5</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-5-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient-6</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-6-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient-7</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-7-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient-8</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-8-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient-9</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-9-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient-10</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-10-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>default</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>default-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>black</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>black-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>blue</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>blue-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>green</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>green-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>orange</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>orange-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>pink</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>pink-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>purple</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>purple-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>red</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>red-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>yellow</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>yellow-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient-1</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-1-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient-2</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-2-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient-3</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-3-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient-4</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-4-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient-5</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-5-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient-6</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-6-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient-7</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-7-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient-8</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-8-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient-9</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-9-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gradient-10</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gradient-10-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>Google Sign-In</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.338047674329-5dfpj06alfpfn0phi57c4bgdg6nihv87</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>exp+athli</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>airmail</string>
      <string>message</string>
      <string>bluemail</string>
      <string>canary</string>
      <string>edisonmail</string>
      <string>szn-email</string>
      <string>fastmail</string>
      <string>x-gmxmail-netid-v1</string>
      <string>googlegmail</string>
      <string>mailrumail</string>
      <string>ms-outlook</string>
      <string>protonmail</string>
      <string>ctxmail</string>
      <string>readdle-spark</string>
      <string>superhuman</string>
      <string>telekommail</string>
      <string>tutanota</string>
      <string>x-webdemail-netid-v1</string>
      <string>ymail</string>
      <string>yandexmail</string>
      <string>appcenter-f45b4c0b-75c9-2d01-7ab6-41f6a6015be2</string>
      <string>mymail-mailto</string>
    </array>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>Athli uses the camera to let you record workout videos so you can submit them for lift analysis to receive form feedback.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Athli may request your location to personalize experiences and support features that depend on your current region and also for usage analytics.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your microphone</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Athli accesses your photo library so you can upload videos for analysis, save videos recorded in the app to your photo library, download videos and for searching features.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Athli accesses your photo library so you can upload videos for analysis, save videos recorded in the app to your photo library, download videos and for searching features.</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>We use this to ensure the app works for you and others that download it by reviewing usage logs.</string>
    <key>SKIncludeConsumableInAppPurchaseHistory</key>
    <true/>
    <key>UIApplicationShortcutItems</key>
    <array>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>Deleting? Tell us why.</string>
        <key>UIApplicationShortcutItemSubtitle</key>
        <string>Send us feedback before you delete.</string>
        <key>UIApplicationShortcutItemType</key>
        <string>deletion_feedback</string>
        <key>UIApplicationShortcutItemIconType</key>
        <string>UIApplicationShortcutIconTypeCompose</string>
      </dict>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
      <string>fetch</string>
      <string>processing</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>